// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 30px;
  text-align: center;
}

.all {
  width: 40%;
  font-family: 'Goudy Bookletter 1911', serif;
  background-size: cover;
  text-align: left;
  background-color: #FBFF00;
  font-size: 30px;
  margin: 5px 5px;
}


.add {
  padding: 10px 10px;
  background-color: orange;
  border-style: solid;
  box-shadow: 10px 20px 30px;
}
